<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id='headline'></div>
    <div id='art_image'></div>
    <p>Here it is.</p>

    <!-- <select id="selDay" onchange="dayChanged(this.value)"></select> -->
    <select id="selDataset" onchange="optionChanged(this.value)"></select>


    <div id='basechart'></div>
    <br>
    <div id='chart'></div>
    <!-- <canvas id="myChart"></canvas>
    <canvas id="myChart2"></canvas> -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- <script src="https://www.gstatic.com/charts/loader.js"></script> -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- <script type="text/javascript" src="plots.js"></script> -->
    <script type="text/javascript" src="static/js/news.js"></script>
    <!-- <script type="text/javascript" src="state.js"></script> -->
    <!-- <script type="text/javascript" src="static/js/polar.js"></script> -->

</body>

</html>