.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .fa-fire {
    color: red;
    /* source: https://stackoverflow.com/questions/35933260/can-we-add-border-around-the-fontawesome-icon-using-css */
    text-shadow: 0 0 3px #000;
  }
  
  .fa-bullhorn {
    color: rgb(24, 226, 233);
    text-shadow: 0 0 3px #000;
  }

  .fa-fire-extinguisher {
    color: darkgray;
    text-shadow: 0 0 3px #000;
  }
  select{
    border-color:white;
  }
  td{
    text-align: center;
  }