<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="../static/img/hindsight_favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    hindsight
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!-- roboto font -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <!-- font awesome icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../static/css/material-kit.css?v=2.0.7" rel="stylesheet" />
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link href="../static/css/styles.css" rel="stylesheet" />
</head>

<body class="landing-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
    id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">
          h i n d s i g h t</a>
      </div>
      <div style='width: 400px;'>
        <h5 id='date_select'>Pick a date to observe:</h5>
        <div id="slider-date" class="slider"></div>
      </div>
    </div>
    </div>
    </div>
  </nav>
  <div id='background-NYT' class="page-header header-filter" data-parallax="true"
    style="background-image: url('https://static01.nyt.com/images/2020/02/02/us/02iraq-airport-sub2/02iraq-airport-sub2-videoLarge-v2.jpg')">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-lg-6">
          <h2 class="title">Looking back on the year 2020</h2>
          <h4>An eventful period of time to say the least. Take a closer look at some of the major occurrences in the
            United States this year, and how they shaped the country.</h4>
          <h4><i>Select a date with the slider above.</i></h4><br>
          <h3 class='title'>Today's New York Times Headline:</h3>
          <h4 id='NYT_headline'>U.S. Strike in Iraq Kills Qassim Suleimani, Commander of Iranian Forces</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class='section'>
      <div class="container">
        <div class='row'>
          <div class='col col-12 col-lg-5'>
            <!-- start carousel card -->
            <div class="card">
              <h4 class="card-header card-header-primary">Worth 1,000 words
                <a tabindex="0" class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                  title="A carousel of five select photos for the selected month, courtesy of Getty Images. Hover or click on the images to view descriptions."></a>
              </h4>
              <div class="card-body">
                <p class="description">One month, five dramatic photos.</p>
                <!-- january -->
                <div id='getty_01'>
                  <a id='UriCaunWTz5PE8wVB-qcNQ' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1199758362' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: 'UriCaunWTz5PE8wVB-qcNQ', sig: 'nbNbZhrjr2gA7J6LuPhfIaDmwf42qoKvJi4WCZH8Nds=', w: '594px', h: '437px', items: '1199758362,1197859577,1199725684,1196648893,1197105873', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- february -->
                <div id='getty_02'>
                  <a id='vsYQprolQotTPddFPzLSmA' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1198921166' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: 'vsYQprolQotTPddFPzLSmA', sig: 'h4A7joCv9ev33MekcEc8E559ID-vqIR-QYeMwQPDMWQ=', w: '594px', h: '437px', items: '1198921166,1201342820,1198673702,1204061020,1205107204', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- march -->
                <div id='getty_03'>
                  <a id='cvFfWTGOSVtJOY6HTBrY1Q' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1212406499' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: 'cvFfWTGOSVtJOY6HTBrY1Q', sig: 'ZCIusG8T0WWQauDvL1xsKY5K1siRfkkO24HnynncTfg=', w: '594px', h: '437px', items: '1212406499,1212096158,1215850485,1215226002,1208074721', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- april -->
                <div id='getty_04'>
                  <a id='RALF6W87Sa9t94z2qi7SyQ' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1217421822' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: 'RALF6W87Sa9t94z2qi7SyQ', sig: 'Y8MNhuZZMXPSnp3ZCPmF9g1GZo657uudN3mc4aRjtLM=', w: '594px', h: '437px', items: '1217421822,1211126655,1221870060,1219002440,1220625985', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- may -->
                <div id='getty_05'>
                  <a id='Rgb-EaY0TDdurNWw9O3pgQ' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1216203917' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: 'Rgb-EaY0TDdurNWw9O3pgQ', sig: 'ZqCP7Lw9U7FzuC8X69XPSOOz5J0fmfgNCelnm1tnpdM=', w: '594px', h: '437px', items: '1216203917,1212200811,1216521439,1216441572,1213154753', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- june -->
                <div id='getty_06'>
                  <a id='MaxOhum1Sq9ib8TxsXOMHg' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1248263848' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: 'MaxOhum1Sq9ib8TxsXOMHg', sig: 'qJmTBgkunXIQlc07CCtTpAwmdj4k_kqKMHB_bz3pA70=', w: '594px', h: '437px', items: '1248263848,1219574942,1217205869,1216826634,1248763490', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- july -->
                <div id='getty_07'>
                  <a id='-sAg7oIvTd1vpoIU0bTjWQ' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1227655719' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: '-sAg7oIvTd1vpoIU0bTjWQ', sig: 'Qyjm1iEfh6lkFhwr3AqNSB2tqXYWyCroGvsugjaQdmA=', w: '594px', h: '437px', items: '1227655719,1254442980,1257076009,1227683605,1262684326', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- august -->
                <div id='getty_08'>
                  <a id='8zHl4MPlQ3dnTXr04-CKWg' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1228190520' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: '8zHl4MPlQ3dnTXr04-CKWg', sig: 'IibTYFhUYnRcRYPEJWGClbXnD057LNbnPvN2NCd9nfU=', w: '594px', h: '437px', items: '1228190520,1158921711,1228085286,1228126934,1228262329', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- september -->
                <div id='getty_09'>
                  <a id='-lHi-u3mRZF_u8gH4sQHPg' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1228400613' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: '-lHi-u3mRZF_u8gH4sQHPg', sig: 'Ugs0AM2lFS9KPQAMtLIMMtt36qaohE2LibGGaPI0264=', w: '594px', h: '437px', items: '1228400613,1271196826,1273904096,1272163141,1271583715', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- october -->
                <div id='getty_10'>
                  <a id='Pmbpxz8oQKxlqlB82_7tpw' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1282403621' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: 'Pmbpxz8oQKxlqlB82_7tpw', sig: 'ueozzgz4WuO2abCTE2_kPOvEu9A7dcFYKJoxpMDPU6E=', w: '594px', h: '437px', items: '1282403621,1229228819,1229031744,1228948960,1228897458', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
                <!-- november -->
                <div id='getty_11'>
                  <a id='bcznxxSLT1BG7i9Jd4Eh_w' class='gie-slideshow'
                    href='http://www.gettyimages.com/detail/1229463747' target='_blank'
                    style='color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;'>Embed
                    from Getty Images</a>
                  <script>window.gie = window.gie || function (c) { (gie.q = gie.q || []).push(c) }; gie(function () { gie.widgets.load({ id: 'bcznxxSLT1BG7i9Jd4Eh_w', sig: 'nosngihnQ1U8ts45ygSaBjK7HXa1Ypfc47nxchHOH2s=', w: '594px', h: '437px', items: '1229463747,1229470279,1229405822,1229520608,1284480526', caption: true, tld: 'com', is360: false }) });</script>
                  <script src='//embed-cdn.gettyimages.com/widgets.js' charset='utf-8' async></script>
                </div>
              </div>
            </div>
            <!-- end carousel card -->
          </div>
          <div class='col col-12 col-lg-7'>
            <!-- start approval ratings card -->
            <div class="card">
              <h4 class="card-header card-header-primary">Presidential approval ratings
                <span id='approval-tooltip'>
                  <a tabindex="0" class="fas fa-info-circle" data-toggle="tooltip" data-container="#approval-tooltip"
                    data-placement="right"
                    title="Approval and disapproval ratings in 2020 for President Trump, compiled and weighted by FiveThirtyEight. Hover over the graph to view numerical values."></a>
                </span>
              </h4>
              <div class="card-body">
                <p class="description">Compare Donald Trump's approval ratings with the current landscape.</p>
                <div id='approval_plot' style="height: 315px;"></div>
              </div>
            </div>
            <!-- end approval ratings card -->
          </div>
        </div>
        <div class='row'>
          <div class='col col-12 col-lg-8'>
            <!-- start map card -->
            <div class="card">
              <h4 class="card-header card-header-primary">Wildfires & social unrest: a look at the country today
                <span id='map-tooltip'>
                  <a class="fas fa-info-circle" data-toggle="tooltip" data-container='#map-tooltip'
                    data-placement="right"
                    title="Overview of active fires, contained fires, and protests across the nation on selected date. Numerical counts for the nation and state (if selected) available in table below. Toggle layers via the legend at the upper-right corner."></a>
                </span>
              </h4>
              <div class="card-body">
                <!-- <p class="description">Explore data on ongoing protests and wildfires.</p> -->
                <div id="map" style="width: 100%; height: 600px; margin-top: 0;"></div>
                <table class='table table-hover' align='center'>
                  <thead>
                    <tr>
                      <td></td>
                      <td>Total Contained Fires</td>
                      <td>Total Active Fires</td>
                      <td>Total Protests</td>
                    </tr>
                  </thead>
                  <tr>
                    <td>National</td>
                    <td class="total_containted_fires">0</td>
                    <td class="total_active_fires">0</td>
                    <td class="total_protests">0</td>
                  </tr>
                  <tr>
                    <td class="state">State</td>
                    <td class="contained_fires"></td>
                    <td class="active_fires"></td>
                    <td class="protests"></td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- end map card -->
          </div>
          <div class='col col-12 col-lg-4'>
            <!-- start state card -->
            <div class="card">
              <h4 class="card-header card-header-primary">A closer look at states
                <a tabindex="0" class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                  title="State-specific data for mobility, daily new COVID cases, and monthly unemployment. Populates once a state is selected on the map. See mobility panel (below) for deatils on how to interpret."></a>
              </h4>
              <div class="card-body">
                <p class="description">Select a state on the map to view more specific data.</p>
                <!-- <strong><p>State mobility:</p></strong> -->
                <div id='statechart'></div>
                <strong>
                  <p>Daily COVID new cases to selected date, 7-day moving average:</p>
                </strong>
                <p id='state_covid_text'></p>
                <span id='state_cases'></span>
                <strong>
                  <p><br>State unemployment:</p>
                </strong>
                <div id='stateUnemp'></div>
              </div>
            </div>
            <!-- end state card -->
          </div>
        </div>
        <div class='row'>
          <div class='col col-12 col-lg-7'>
            <br>
            <!-- start US COVID card -->
            <div class="card card-nav-tabs">
              <div class="card-header card-header-primary">
                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                <div class="nav-tabs-navigation">
                  <span class="navbar-brand">U.S. spread of COVID-19
                    <span id='covid-tooltip'>
                      <a tabindex="0" class="fas fa-info-circle" data-toggle="tooltip" data-container='#covid-tooltip'
                        data-placement="right"
                        title="Graph of daily new COVID cases in the U.S. (bars) and 7-day moving average (line). Data from the COVID Tracking Project. Hover over the graph to view numerical values. See total cases and deaths to selected date in alternate tab."></a>
                    </span>
                  </span>
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#case_increases" data-toggle="tab">
                          Daily Growth Chart
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#totals" data-toggle="tab">
                          Totals to Date
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body ">
                <div class="tab-content text-center">
                  <div class="tab-pane active" id="case_increases">
                    <p class="description" align='left'>See the increase of COVID cases day-by-day.</p>
                    <div id='us_plot' style="height: 400px;"></div>
                  </div>
                  <div class="tab-pane" id="totals">
                    <div>
                      <h3>Total COVID cases to date:</h3>
                      <h2 class='title' id='total_cases'>0</h2>
                      <br>
                      <h3>Total COVID-related deaths to date:</h3>
                      <h2 class='title' id='total_deaths'>0</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end US COVID card -->
          </div>
          <div class='col col-12 col-lg-5'>
            <br>
            <!-- start mobility card, **or we could put it in the COVID navtabs** -->
            <div class="card">
              <h4 class="card-header card-header-primary">Mobility across the nation
                <a tabindex="0" class="fas fa-info-circle" data-toggle="tooltip" data-placement="right"
                  title="Graph that compares national data on movement to baseline measurements in January and February 2020. Data from Google (?). Hover over graph for more details."></a>
              </h4>
              <div class="card-body">
                <p class="description">How has COVID impacted everday movement? Available for dates after February 24,
                  2020.</p>
                <div id='mobility_plot'></div>
              </div>
            </div>
            <!-- end mobility card -->
          </div>
        </div>
        <div class="row">
          <div class='col col-12 col-lg-6'>
            <!-- start stock data card -->
            <div class="card">
              <h4 class="card-header card-header-primary">Stock prices
                <span id='stock-tooltip'>
                  <a tabindex="0" class="fas fa-info-circle" data-toggle="tooltip" data-container='#stock-tooltip'
                    data-placement="right"
                    title="Graph that compares prices of up to three select stocks (via dropdown menus) over time. Data from finnhub.io. Hover over the graph to view numerical values."></a>
                </span>
              </h4>
              <div class="card-body">
                <p class="description">See how stock prices have responded to recent events.</p>
                <table>
                  <tr>
                    <td>
                      <div class="custom-select">
                        <select name="Stock1" id="stock1" onChange="selectStock(id, this.value)"></select>
                      </div>
                    </td>
                    <td>
                      <div class="custom-select" style="width:100;">
                        <select name="Stock2" id="stock2" onChange="selectStock(id, this.value)"></select>
                      </div>
                    </td>
                    <td>
                      <div class="custom-select" style="width:100;">
                        <select name="Stock3" id="stock3" onChange="selectStock(id, this.value)"></select>
                      </div>
                    </td>
                  </tr>
                </table>
                <div id='stockChart'></div>
              </div>
            </div>
            <!-- end stock data card -->
          </div>
          <div class='col col-12 col-lg-6'>
            <!-- start unemployment card -->
            <div class="card">
              <h4 class="card-header card-header-primary">National unemployment
                <span id='unemp-tooltip'>
                  <a tabindex="0" class="fas fa-info-circle" data-toggle="tooltip" data-container='#unemp-tooltip'
                    data-placement="right"
                    title="Graph that compares prices of up to three select stocks (via dropdown menus) over time. Data from finnhub.io. Hover over the graph to view numerical values."></a>
                </span>
              </h4>
              <div class="card-body">
                <p class="description">Compare national unemployment to the rest of the environment.</p>
                <div class="custom-select" style="width:50%">
                  <select name="Compare" id="compare"
                    onChange="selectOption(this.options[this.selectedIndex].value)"></select>
                </div>
                <div id='unemployment'></div>
              </div>
            </div>
            <!-- end unemployment ratings card -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <footer class="footer footer-default">
    <div class='container' align='left'>
      <div class='row justify-content-between'>
        <div class='col-12 col-lg-8'>
          <h5 class='text-uppercase'><b>Meet the team</b></h5>
          <div class='row'>
            <!-- maria -->
            <div class='col-6 col-md-3'>
              <h4>Maria
                <span class='float-right'>
                  <a href="https://github.com/mariajdong" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/maria-j-dong/" target="_blank"><i
                      class="fab fa-linkedin"></i></a>
                </span>
              </h4>
              <img src="../static/img/propics/maria_square.png" alt="maria" class='img-raised rounded img-fluid'>
              <p><br>Data analyst and licensed pharmacist.
                Interested in healthcare data roles.
                Coffee, beer, and music lover.<br><br></p>
            </div>
            <!-- ryan -->
            <div class='col-6 col-md-3'>
              <h4>Ryan
                <span class='float-right'>
                  <a href="https://github.com/Jonsey1696" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/ryan-jones-2474251a1/" target="_blank"><i
                      class="fab fa-linkedin"></i></a>
                </span>
              </h4>
              <img src="../static/img/propics/ryan_square.png" alt="ryan" class='img-raised rounded img-fluid'>
              <p><br>Data Engineer and Business Developer.
                Sports fanatic.<br><br></p>
            </div>
            <!-- rebecca -->
            <div class='col-6 col-md-3'>
              <h4>Becki
                <span class='float-right'>
                  <a href="https://github.com/rmoesw01" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/becki-leeds/" target="_blank"><i
                      class="fab fa-linkedin"></i></a>
                </span></h4>
              <img src="../static/img/propics/becki_square.png" alt="becki" class='img-raised rounded img-fluid'>
              <p><br>Data Engineer and Teacher.
                Interested in reasearch science and quality data roles.
                Loves all kinds of puzzles.<br><br></p>
            </div>
            <!-- amber -->
            <div class='col-6 col-md-3'>
              <h4>Amber
                <span class='float-right'>
                  <a href="https://github.com/apizzo1" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/amber-l-pizzo/ target="_blank"><i
                      class="fab fa-linkedin"></i></a>
                </span></h4>
              <img src="../static/img/propics/amber_square.png" alt="maria" class='img-raised rounded img-fluid'>
              <p><br>Quality Engineer and data analyst.
                Interested in product quality roles. <br>
                LEGO enthusiast.<br><br></p>
            </div>
          </div>
        </div>
        <div class='col-12 col-lg-3'>
          <h5 class='text-uppercase'><b>Questions?</b></h5>
          <p>Explore our <b><a href="https://github.com/apizzo1/Hindsight_2020" target='blank'>GitHub repository</a></b>, or feel free to
            reach out and connect with the team.<br><br></p>
          <h5 class='text-uppercase'><b>Want to see more?</b></h5>
          <p>Check out our other project, <b><a
              href="https://rmoesw01.github.io/Climateers/index.html" target='blank'>Climateers</a></b>!<br><br></p>
          <h5 class='text-uppercase'><b>Credits</b></h5>
          <p><b>&copy;
            <script>
              document.write(new Date().getFullYear())
            </script> hindsight</b>, template created by <b>
            <a href="https://www.creative-tim.com/" target="blank">Creative Tim</a></b>.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <!-- jquery sparklines -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.js"></script>
  <!-- core js libs in assets -->
  <script src="../static/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../static/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <!-- d3 v6 -->
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <!-- plotly js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- amcharts -->
  <script src="//cdn.amcharts.com/lib/4/core.js"></script>
  <script src="//www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <!-- math.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/7.2.0/math.min.js"></script>
  <!-- moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"></script>
  <!--  slider & wnumb plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.2/nouislider.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
  <!-- leaflet files -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <script src="https://cdn.rawgit.com/hayeswise/Leaflet.PointInPolygon/v1.0.0/wise-leaflet-pip.js"></script>
  <script type="text/javascript" src="../static/js/GT-project/leaflet-heat.js"></script>
  <script src='../static/js/GT-project/us-states_update.js'></script>
  <!-- created js files -->
  <script src="../static/js/GT-project/state_plot.js"></script>
  <script src='../static/js/GT-project/logic_slider_map.js'></script>
  <script src="../static/js/GT-project/covid_logic.js"></script>
  <script src="../static/js/GT-project/ratings_logic.js"></script>
  <script src="../static/js/GT-project/all_plot.js"></script>
  <script src="../static/js/GT-project/unemployment.js"></script>
  <script src="../static/js/GT-project/stock.js"></script>

  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
  <script>
    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
</body>

</html>